#home-screen, #password-screen, #create-screen, #browse-screen, #chat-screen {
    display: none;
}

#muted{
    display:none;
}

.private {
    background-color: rgb(241, 189, 189);
}
.public{
    background-color: rgb(192, 237, 243);
}
.header{
    font-size: 12px
}
.content{
    font-size: 14px;
}
.chat-div{
    border-bottom: 1px solid black;
}