body{
  font-family: Arial;
}
#screen-container {
  text-align: center;
  height: 95vh;
  overflow: hidden;
}
#home-screen, #password-screen, #create-screen, #browse-screen, #chat-screen {
    display: none;
    text-align: center;
}

#muted{
    display:none;
}


button {
  font-size: 1.3em;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  box-shadow: none;
  margin: 10px;
}
input[type=text]{
  font-size: 1.4em;
  margin: 10px;
  margin-top: 0px;
  text-align: center;
}
#message-input{
  text-align: left;
}
#browse-title{
  text-decoration: underline;
}
.room-list {
  width: 33%;
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}
.room-list:hover{
  cursor: pointer;
}
.locked {
  color: red;
}

#leave-div{
  width: 20%;
  text-align: left;
  padding: 10px;
  margin-left: 10%;
}
#leave-div > button {
  margin-left: 10%;
}

#chatlog{
  height: 50vh;
  overflow-y: scroll;
}
.chat-div{
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid black;
}
#ppl-list{
  display: none;
  height: 15vh;
  width: 50%;
  margin: auto;
  overflow-y: scroll;
}
#ppl-list > p{
  text-decoration: underline;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8em;
}
#ppl-list > p:hover{
  cursor: pointer;
}
#close-div{
  width: 50%;
  margin: auto;
}
#close{
  display: none;
}
.private {
    background-color: rgb(241, 189, 189);
}
.public{
    background-color: rgb(192, 237, 243);
}
.header{
    font-size: .9em
}
.content{
    font-size: 1.2em;
}
